<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>timyo</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/timyo.css">
	<!-- [if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
	<!-- header -->
	<section class="header">
		<!-- 居中 -->
		<div class="container">
		    <!-- nav -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
			      	<button type="button" class="navbar-toggle" data-toggle="collapse" 
			         data-target="#example-navbar-collapse">
			         	<span class="sr-only">切换导航</span>
			        	<span class="icon-bar"></span>
			         	<span class="icon-bar"></span>
			         	<span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="#">
			      		<img  src="http://www.timyo.com/images/logo.png" alt="brand">
			       </a>
			    </div>
			 	<div class="collapse navbar-collapse" id="example-navbar-collapse">
			        <ul class="nav navbar-nav navbar-right">
			            <li>
			            	<a href="#">Mission</a>
			            </li>
			            <li>
			            	<a href="#">FAQ</a>
			            </li>
			            <li>
			            	<a href="#">Blog</a>
			            </li>
			            <li>
			            	<a href="#">
			            		<img src="http://www.timyo.com/images/FR-flag-icon.png" alt="">
			            	</a>
			            </li>
			            <li>
			            	<a href="#">
			            		<img src="http://www.timyo.com/images/US-flag-icon.png" alt="">
			            	</a>
			            </li>
			        </ul>
			    </div>
			</nav>
			<div class="row">
				<div class="col-md-7 text-center">
					<p>It’s about time:</p>
					<h2>email that matters,<br/> when it matters.</h2>
					<a href="#">Watch the video  
						<span class="glyphicon glyphicon-play-circle"></span>
					</a>
				</div>
				<div class="col-md-5">
					<div class="box">
						<img src="http://www.timyo.com/images/slide-1.png" alt="">
						<img src="http://www.timyo.com/images/slide-2.png" alt="">
						<img src="http://www.timyo.com/images/slide-3.png" alt="">
						<img src="http://www.timyo.com/images/slide-4.png" alt="">
					</div>
					<div class="btn-box text-center">
						<button></button>
						<button></button>
						<button></button>
						<button></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Available -->
	<section class="Available">
		<!-- 居中 -->
		<div class="container  text-center">
			<h3>Available now for iOS!</h3>
			<p>
				<small>Currently available for Gmail and Google Apps - more providers coming soon.</small>
			</p>
			<div class="aimg">
				<a href="#">
					<img  src="http://www.timyo.com/images/download-timyo.png" alt="">
				</a>
			</div>
			<!-- 多选框 -->
			<div class="row">
				<div class="col-md-4 col-md-offset-4 ">
					<div class="ibox">
						<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-home"></span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="##">
									<span class="glyphicon glyphicon-play-circle">(201) 555-5555</span>
								</a>
							</li>
							<li>
								<a href="##">
									<span class="glyphicon glyphicon-play-circle">(201) 555-5555</span>
								</a>
							</li>
							<li>
								<a href="##">
									<span class="glyphicon glyphicon-play-circle">(201) 555-5555</span>
								</a>
							</li>
							<li>
								<a href="##">
									<span class="glyphicon glyphicon-play-circle">(201) 555-5555</span>
								</a>
							</li>
						</ul>
						
						<input type="text" placeholder="(201) 555-5555">
					</div>
					<button class="btn ">Text me a link</button>
				</div>
			</div>
			<p>If you are on Android or Windows Phone, we are working on versions for you! <br/>
				Enter your email and choose your OS below to be notified.</p>
			<form action="" class="row">
				<div class="form-group col-md-4 col-md-offset-4 Tbox">
					<input type="email" placeholder="Your email address">
				</div>
			</form>
			<p style="color:#404040;">
				Choose your OS to submit.
			</p>
			<div class="Tbtn">
				<button class="btn Tb1" name="android" id="Android"></button>
				<button class="btn Tb2" name="windows" id="Windows"></button>
			</div>
		</div>
	</section>
	<!-- Wait -->
	<section class="Wait">
		<!-- 居中 -->
		<div class="container">
			<h3 class="text-center">Wait!<br/>	
	           	You don’t need to answer every email as soon as it <br/>
				hits your inbox.
			</h3>
			<ul class="list-unstyled row">
				<li class="col-md-4">
					<img src="http://www.timyo.com/images/iphone-on-table-small.png" alt="">
				</li>
				<li class="col-md-7 col-md-offset-1">
					<p>That's why we've reimagined your inbox and created Agenda View to let you know at a glance which emails are important and when you need to deal with them. With Timyo, you can communicate more meaningfully by sending and receiving emails with clear expectations that are already prioritized by time. </p>
					<p>Now you can focus on the email that matters, when it matters.</p>
				</li>
			</ul>
		</div>
	</section>
	<!-- Focu -->
	<section class="Focu">
		<div class="container">
			<h3 class="text-center">Focus on what matters today</h3>
			<div class="text-center ta">
				<a href="#">See how Timyo helps you
				<span class="glyphicon glyphicon-play-circle"></span></a>
			</div>
			<ul class="row list-unstyled">
				<li class="col-md-4">
					<img src="http://www.timyo.com/images/focus-on-what-matters.jpg" alt="">
				</li>
				<li class="col-md-6 col-md-offset-2 t6">
					<ul class="list-unstyled">
						<li class="wzl">
							<h4>
								<a href="">Manage important email by time
								<span class="glyphicon glyphicon-play-circle"></span>  
								</a>
							</h4>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
						</li>
						<li class="wzl">
							<h4>
								<a href="">Manage important email by time
								<span class="glyphicon glyphicon-play-circle"></span>  
								</a>
							</h4>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
						</li>
						<li class="wzl">
							<h4>
								<a href="">Manage important email by time
								<span class="glyphicon glyphicon-play-circle"></span>  
								</a>
							</h4>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
						</li>
						<li class="wzl">
							<h4>
								<a href="">Manage important email by time
								<span class="glyphicon glyphicon-play-circle"></span>  
								</a>
							</h4>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<!-- expectations -->
	<section class="expectations">
		<div class="container">
			<ul class="row list-unstyled">
				<li class="col-md-7">
					<img src="http://www.timyo.com/images/email-on-computer2.png" alt="">
				</li>
				<li class="col-md-4 col-md-offst-1">
					<h3>
						Give the gift of <br/>
						clear expectations
					</h3>
					<p>
						When recipients open your email, they will see immediately a clear, simple, and polite message letting them know when you would like them to respond. By giving the gift of clear expectations, you give them other gifts as well: peace of mind, increased productivity, and, ultimately, time.
					</p>
					<p>And it’s hard to think of a better gift than that.</p>
				</li>
			</ul>
		</div>
	</section>
	<!-- work -->
	<section class="work">
		<div class="container text-center">
			<h3 class="text-center">Timyo works on your desktop as well</h3>
			<ul class="row list-unstyled">
				<li class="col-md-4">
					<img src="http://www.timyo.com/images/apple-mail-desktop-screen.png" alt="">
				</li>
				<li class="col-md-4">
					<a href="##">
						<img src="http://www.timyo.com/images/gmail-desktop-screen.png" alt="">
					</a>
				</li>
				<li class="col-md-4">
					<img src="http://www.timyo.com/images/outlook-desktop-screen.png" alt="">
				</li>
			</ul>
			<div class="text-center">
				<a href="##">
					<img src="http://www.timyo.com/images/chrome-store-btn3.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- mission -->
	<section class="mission">
		<div class="container">
			<h3 class="text-center">We are on a mission</h3>
			<ul class="row list-unstyled">
				<li class="col-md-4 ml1">
					<h4 class="text-center">Clarity</h4>
					<p>Email remains the #1 tool today’s workforce uses to communicate. Unfortunately, it was not designed for the ‘always on’ expectations that have become the norm. Thanks to Timyo, users can now benefit from clear and proactive communication.</p>
				</li>
				<li class="col-md-4 ml1 ml2">
					<h4 class="text-center">Productivity</h4>
					<p>By helping you stay focused on important emails when they matter to you, Timyo helps you cut through the clutter. And when the people you work with use Timyo too, your email will come already prioritized by due date.</p>
				</li>
				<li class="col-md-4 ml1 ml3">
					<h4 class="text-center">Peace</h4>
					<p>At Timyo, we believe it's time for email to make your life easier again. With email prioritized by time and features like Agenda View and Reply Tracker, Timyo takes the stress out of email and puts something much better in its place: peace.</p>
				</li>
			</ul>
		</div>
	</section>
	<!-- email -->
	<section class="email">
		<div class="container">
			<h3 class="text-center">Upgrade to business class email</h3>
			<ul class="row list-unstyled">
				<li class="col-md-4">
					<img src="http://www.timyo.com/images/iphone-register.png" alt="">
				</li>
				<li class="col-md-6 col-md-offset-2">
					<ul class="list-unstyled">
						<li class="wzl2">
							<h4>Easy setup</h4>
							<p>Enter your email account and password and voila!You've got Timyo.</p>
						</li>
						<li class="wzl2">
							<h4>Existing account</h4>
							<p>Timyo isn't another new email address to manage — it's a way to better manage your existing accounts.</p>
						</li>
						<li class="wzl2">
							<h4>Free & Flexible</h4>
							<p>You can switch back and forth between Timyo and your providers' apps whenever you want to (but we don't think you'll want to).</p>
						</li>
						<li class="wzl2">
							<h4>Private & Secure</h4>
							<p>Timyo never stores, processes, or transmits your data through third-party servers. Passwords are never stored on our servers.</p>
						</li>
						<li class="tl1">
							<a href="##">
								<img src="http://www.timyo.com/images/download-timyo.png" alt="">
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<!-- footer -->
	<section class="footer">
		<div class="container text-center">
			<h4 >Timyo is a patented solution: US 20150007048A1</h4>
			<div class="abox">
				<a href="#">Privacy Policy</a>  
				<a href="##">Security</a>
				<a href="##">Press Inquiries</a>
				<a href="##">About Us</a>
			</div>
			<small>©2015 Timyo. All rights reserved.</small>
		</div>
	</section>
	<!-- ad -->
	<a href="###" class="ad">
		<img src="http://www.timyo.com/images/download-timyo.png" alt="">
	</a>
<body>
	<script src="http://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>